#contact {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;

  h1, h3 {
    color: white;
  }
  h3 {
    padding-bottom: 40px;
  }
  img {
    height: 120px;
    width: 120px;
  }
}

@media only screen and (max-width: 40em) { 
  #contact {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: black;
    text-align: center;
    img {
      height: 60px;
      width: 60px;
    }
  }
}
