#technology {
  h2 {
    padding: 80px 0 40px 0;
  }
  p {
    padding-bottom: 120px;
  }
  img {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 40em) { 
  #technology {
    padding-bottom: 40px;
    background-color: white;
    h2 {
      padding: 40px 0 20px 0;
    }
    p {
      padding-bottom: 60px;
    }
    img {
      height: 150px;
      width: 150px;
    }
  }
}